.btn_loginss{
    border: 2px solid #000;
    width: 350px;
    height: 57px;
    border-radius: 100px;
    margin: 8px 0;
    font-size: 22px;
}
.btn_loginss:hover{
    background-color: #f3c6c6;
    color: #fff;
    cursor: pointer;
}
.logo_login{
    height: 30px;
    width: 30px;
    margin:0 20px ;
    border-radius:30px;
}
.two_btn_align_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
}
.top_loginss{
    padding: 30px 0;
    border-width: 0 0 1px 0;
    border-color: #E53E3E;
    border-style: solid;
}
.top_loginss p{
    font-size: 30px;
    font-weight: 400;
    width: 320px;
    text-align: center;
    margin: 0 auto;
    font-family: Abril Fatface;
}
.login_subtitle{
    font-size: 18px;
    font-weight: 400;
    font-family: DM Sans;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}
.footer_loginss{
    width: 350px;
    margin: 0 auto;
    padding: 0 0 40px 0;
    font-size: 12px;
}
.footer_loginss a:hover{
    color: rgb(189, 46, 58);
}
.automodals_close_btn{
    color: #F45B69;
}
.automodals_close_btn:hover{
cursor: pointer;
}
.success_login_profile{
    height: 35px;
    width: 35px;
}
.login_btn_width{
    width: 70px;
    display: flex;
    justify-content: flex-end;
}
.log_out_modal_content{
    margin-right: -65vw;
}
.logout_btn{
    height: 40px;
    width: 80px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 700;
    background-color: #E53E3E;
    color: #fff;
    margin-top: 15px;
}
@media only screen and (max-width: 426px) {
    .btn_loginss{
        width: 250px;
        height: 50px;
        font-size: 15px;
    }
    .logo_login{
        margin:0 15px ;
    }
    .two_btn_align_div{
        margin: 20px 0;
    }    
    .top_loginss{
        padding: 30px 0;
    }
    .top_loginss p{
        font-size: 20px;
        width: 280px;
    }
    .login_subtitle{
        font-size: 15px;
        width: 280px;
    }
    .footer_loginss{
        width: 280px;
        margin: 0 auto;
        padding: 0 0 40px 0;
        font-size: 12px;
    }
    .login_btn_width{
        width: 55px;
    }
    .log_out_modal_content{
        margin-right: -18vw;
    }
}